<div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="id">Id</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" readonly id="id" value="{{cliente.id}}">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="cliente.nombre">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="apellidos">Apellidos</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="apellidos" [(ngModel)]="cliente.apellidos">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="telefono">Teléfono</label>
        <div class="col-sm-10">
            <input class="form-control" type="tel" id="telefono" [(ngModel)]="cliente.telefono">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="email">Email</label>
        <div class="col-sm-10">
            <input class="form-control" type="email" id="email" [(ngModel)]="cliente.email">
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-2 col-sm-10">
            <button class="btn btn-primary" (click)="guardar()">Aceptar</button>
        </div>
    </div>
</div>